{% extends "overrides/main.html" %}
{% block tabs %}
  {{ super() }}
  <style>.md-header{position:initial}.md-main__inner{margin:0}.md-content{display:none}@media screen and (min-width:60em){.md-sidebar--secondary{display:none}}@media screen and (min-width:76.25em){.md-sidebar--primary{display:none}}</style>
  <section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">
        <div class="tx-hero__image">
          <img src="assets/images/illustrations/home.png" alt="" width="1659" height="1200" draggable="false">
        </div>
        <div class="tx-hero__content">
          <h1>Stacker Build</h1>
          <p><strong>OCI-native<strong> container image builds, simplified </p>
          <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}" class="md-button md-button--primary">
            Get Started
          </a>
          <a href="{{ 'user_guide/build_environment' | url }}" title="User Guide" class="md-button">
            User Guide
          </a>
        </div>
      </div>
    </div> 
  </section>
  <section class="tx-container default-bg">
    <div class="md-grid md-typeset">
      <div class="content-container-centered ">
        <h1>OCI-native Image Builder</h1>
        <div class="centered-content-grid">
          <ul class="centered-content-grid__list">
            <li class="centered-content-grid__item md-typeset">
              <div class="content_icon">
                  {% include ".icons/fontawesome/solid/download.svg" %} 
              </div>
              <div class="item_content">
                <h2 class="card_title">Single Binary</h2>
                <p>One statically built binary for simplified download and install with no additional dependencies or services.</p>
             </div>
            </li>
            <li class="centered-content-grid__item md-typeset">
              <div class="content_icon">
                {% include ".icons/fontawesome/solid/repeat.svg" %} 
             </div>
              <div class="item_content">
                <h2 class="card_title">Repeatable</h2>
                <p>Hermetically sealed environment for image builds using LXC containers so that builds are repeatable without side-effects.</p>
              </div>
            </li>
            <li class="centered-content-grid__item md-typeset">
              <div class="content_icon">
                {% include ".icons/fontawesome/solid/lock.svg" %} 
             </div>
              <div class="item_content">
                <h2 class="card_title">Unprivileged</h2>
                <p>Build using user namespaces and avoid privileges on host.</p>
              </div>
            </li>
            <li class="centered-content-grid__item md-typeset">
              <div class="content_icon">
                {% include ".icons/fontawesome/solid/forward.svg" %} 
              </div>
              <div class="item_content">
                <h2 class="card_title">Incremental</h2>
                <p>Build only the images necessary and rebuild only if any input changed.</p>
              </div>
            </li>
            <li class="centered-content-grid__item md-typeset">
              <div class="content_icon">
                {% include ".icons/fontawesome/brands/github.svg" %} 
             </div>
              <div class="item_content">
                <h2 class="card_title">GitHub Action</h2>
                <p>Integrated with GitHub as a build-and-push <a href="https://github.com/marketplace/actions/stacker-build-and-push-action">action</a>.</p>
              </div>
            </li>
            <li class="centered-content-grid__item md-typeset">
              <div class="content_icon">
                {% include ".icons/fontawesome/brands/github-alt.svg" %} 
              </div>
              <div class="item_content">
                <h2 class="card_title">Open source</h2>
                <p>Released as an open source project under Apache2 License.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
